

<% @restaurantes.each do |rest| %>
  <p> <%= rest.name %> </p>
  <tt>
  <p> - <%= rest.especialidade %> </p>
  <p> - <%= rest.especialidade %> </p>
  <p> - <%= rest.especialidade %> </p>
  </tt>

<% end %>

