

<form action="/restaurantes" method="post">
  <p>Nome: <input type="text" name="restaurante[name]"></p>
  <p>End : <input type="text" name="restaurante[endereco]"></p>
  <p>Especialidade: <input type="text" name="restaurante[especialidade]"></p>
  <input type="submit">
</form>

